In [2]:
import pandas as pd
# Read each tab into separate DataFrames
df1 = pd.read_excel('output_data/Project_Data.xlsx', sheet_name='Demo', dtype={'Other ID': str})
df2 = pd.read_excel('output_data/Project_Data.xlsx', sheet_name='Eco Disadvantage and Income', dtype={'Other ID': str})
df3 = pd.read_excel('output_data/Project_Data.xlsx', sheet_name='Credits and Term', dtype={'Other ID': str})
df4 = pd.read_excel('output_data/Project_Data.xlsx', sheet_name='Graduates', dtype={'Other ID': str})
df5 = pd.read_excel('output_data/Project_Data.xlsx', sheet_name='Withdrawal Dates', dtype={'Other ID': str})
# Ensure 'Other ID' column is treated as string to preserve leading zeros
for df in [df1, df2, df3, df4, df5]:
    df['Other ID'] = df['Other ID'].astype(str)
# Merge the DataFrames based on the 'Other ID' column
combined_df = df1.merge(df2, on='Other ID', how='outer')
combined_df = combined_df.merge(df3, on='Other ID', how='outer')
combined_df = combined_df.merge(df4, on='Other ID', how='outer')
combined_df = combined_df.merge(df5, on='Other ID', how='outer')
# Export the combined DataFrame to a new Excel file
#combined_df.to_excel('combined_data.xlsx', index=False)

In [10]:

combined_df.rename(columns={'Ent_x': 'School',
                            'Cal Code_x': 'Student Type',
                            'Schl Yr': 'School Year',
                            'Other ID': 'ID',
                            'DOB': 'Date of Birth',
                           'Student Language Description': 'Student Language',
                            'Withdrawal Date_x': 'Graduate Withdrawal Date',
                            'Withdrw': 'Graduated',
                            'Withdrawal Comment' : 'Drop Out Withdraw Reason',
                            'Ent': 'Graduate Campus',
                            'Cal Code_y': 'Graduate Student Type',
                            'Grad Date_y': 'Graduate Date',
                            'Withdrawal Date_y': 'Drop Out Date',
                            'Drop Out Withdraw Date': 'Graduate Status',
                            'Entity': 'Credit Earned Campus'
                           }, inplace=True)
#delete columns not needed
#combined_df.drop(columns=['Age', 'Ent_y', 'Cat'], inplace=True)

In [11]:
# Define a dictionary to map values in school to their corresponding labels
mapping = {
        1: 'Norwood',
        2: 'Coleman',
        3: 'South Austin',
        4: 'Billy Moore',
        5: 'Bradshaw',
        6: 'AYW',
        7: 'Diboll',
        8: 'Connally',
        800: 'Alumni',
       }
# Replace values in column A using the mapping dictionary
combined_df['School'] = combined_df['School'].replace(mapping)
# Replace values in column A using the mapping dictionary
combined_df['Graduate Campus'] = combined_df['Graduate Campus'].replace(mapping)
# Replace values in column A using the mapping dictionary
combined_df['Credit Earned Campus'] = combined_df['Credit Earned Campus'].replace(mapping)

In [12]:
# Define a dictionary to map values in school to their corresponding labels
mapping = {
        1: 'Day Student',
        2: 'Day Student',
        3: 'Night Student',
        4: 'Day Student',
        5: 'Day Student',
        6: 'Day Student',
        7: 'Day Student',
        8: 'Day Student',
        '001': 'Day Student',
        '002': 'Day Student',
        '003': 'Night Student',
        '004': 'Day Student',
        '005': 'Day Student',
        '006': 'Day Student',
        '007': 'Day Student',
        '008': 'Day Student',
        '107': 'Day Student',
        '126': 'Day Student',
        800: 'Graduate',
        '800': 'Graduate',
        'I01': 'Online Student',
        'I26': 'Online Student',
        'N01': 'Night Student',
        'N03': 'Night Student',
        'N26': 'Night Student',
        'O26': 'Day Student'
       }
# Replace values in student type column using the mapping dictionary
combined_df['Student Type'] = combined_df['Student Type'].replace(mapping)
# Replace values in graduate student type using the mapping dictionary
combined_df['Graduate Student Type'] = combined_df['Graduate Student Type'].replace(mapping)
# Display the updated DataFrame

In [13]:
# recode values in graduated column, 1 to graduate
mapping = {
        "1.0": 'Graduate',
        'nan': 'Dropped Out',
       }
# Convert the 'Graduate Status' column to string type
combined_df['Drop Out Date'] = combined_df['Drop Out Date'].astype(str)
# Replace values in column A using the mapping dictionary
combined_df['Drop Out Date'] = combined_df['Drop Out Date'].replace(mapping)
# Display the updated DataFrame

In [14]:
# Define a mapping dictionary based on the categories and discussion
mapping_dict = {
    r".*(No Show|NO Show|Student|Non-attender|No contact|No show|NO CONTACT|10+|T4|T5|Term1|Term 1B|Unable to|Term 2|Term 3|Term 4|Term 5|TERM 6|T6|Personal|T2|T3|NS|SY 21-22 T3 No|missed days|Auto WD|No Contact|10+|No longer interested|No-Show|No Contact|Term 4|No Longer|22-23 T4 NOSHOW|Attendance).*": "No Show",    r".*Child Care.*|.*Child care.*|.*Childcare.*|.*Needed childcare.*|.*No Childcare.*": "Child Care",
    r".*(Health|Pregnancy|Hospital|Medical|Baby|Caregiver|Delivered|Delivery|Family Issues|Medial).*": "Health",
    r".*(Transfer|Moving|Persuing|Purse|Withdrew|3/21/17 Enrolled|Enrolled|GED|New employment).*": "Education Transfer",
    r".*(Behavioral|Contract|Discipline|Code of Conduct|Expelled).*": "Behavioral and Contract Issues",
    r".*(Transportation|Moved|Amarillo|Moving Out).*": "Transportation",
    r".*(Financial|Homelessness|Housing).*": "Financial",
    r".*Employment.*": "Employment",
    r".*(Deported|Diggs|Released|Paroled|Incarcerated|Legal|No longer on).*": "Other"
}
# Replace the reasons in the 'Drop Out Withdraw Reason' column according to the mapping dictionary
combined_df['Drop Out Withdraw Reason'] = combined_df['Drop Out Withdraw Reason'].replace(mapping_dict, regex=True)